<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/icon-font.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='icons/css/all.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <title>Category Creation</title>
</head>
<body style="background-color: #eee;">
    <div class="container-fluid">
        <div class="row">
            <nav class="nav">
                <label for="Logo" class="Logo"><a href="#"><img src="{{url_for('static', filename='image/techstack.png')}}" alt="Logo" class="img-fluid logo-brand"></a>Techstack</label>
                <input type="checkbox" id="check">
                <label for="check" class="checkbtn">
                    Menu <i class="fas fa-bars"></i>
                </label>
                <ul class="nav-link">
                    <li class="nav-link-item"><a href="{{url_for('admin_home')}}">Back to Dashboard</a></li>
                    <li class="nav-link-item"><a href="{{url_for('admin_logout')}}">Log Out</a></li>
                </ul>
                <!---->
                <input type="checkbox" id="check2">
                <label class="nav-search" for="check2"><i class="fas fa-search nav-icon"></i></label>
                <!---->
            
           </nav>
        </div>
        <div class="row" style="margin-top: 6rem;">
            <div class="col-12 col-md-8" style="margin: 0 auto;">
                <h1 class="product__heading mt-3">Create category</h1>
                {% if msg %}
                <div class="alert alert-info alert-dismissible fade show" role="alert">
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                
                    <p style="font-size: 2.2rem; font-weight: 900;" class="text-center">{{msg[0]}}</p>
                </div>
                {% endif %}
                <form action="{{url_for('add_category')}}" class="form" enctype="multipart/form-data" method="post">
                    <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
                    <label for="image" class="form__label">Upload Category Image</label>
                    <input type="file" class="form__input" id="image" name="image" required>
                    <label for="catname" class="form__label">Category Name</label>
                    <input type="text" class="form__input" id="catname" name="catname" placeholder="Category Name" required>
                    <button type="submit" class="btn-orange mt-5">Add Category</button>
                </form>
            </div>
        </div>
        <!--End of other -->
        <footer class="footer mt-5">
			<div class="footer__img-box">
				<img src="{{url_for('static', filename='image/techstack.png')}}" alt="Logo" class="footer__img">
			</div>
			<div class="links">
				 <div class="footer__link-box">
					 <h3 class="footer__heading">ABOUT US</h3>
					 <ul class="footer__nav">
						 <li class="footer__link"><a class ="link" href="#">About Us</a></li>
						 <li class="footer__link"><a class ="link" href="#">Terms and Conditions</a></li>
						 <li class="footer__link"><a class ="link" href="#">Privacy and Cookie notice</a></li>
				 
					 </ul>
				 </div>
				 <div class="footer__link-box">
					 <h3 class="footer__heading">LET US HELP YOU</h3>
					 <ul class="footer__nav">
						 <li class="footer__link"><a class ="link" href="#">Report a product</a></li>
						 <li class="footer__link"><a class ="link" href="#">Report a vendor</a></li>
						 <li class="footer__link"><a class ="link" href="#">How to buy a product</a></li>
					   
					 </ul>
				 </div>
				 
			</div>
		   
			 <p class="footer__terms">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Qui mollitia amet aut est error, blanditiis nobis culpa quo reprehenderit tempora nihil! Natus praesentium ex impedit fuga ab excepturi fugit temporibus?</p>
			 <h3>JOIN US ON</h3>
			 <div class="icon-box">
				 <i class="fab fa-facebook icon"></i>
				 <i class="fab fa-twitter icon"></i>
				 <i class="fab fa-youtube icon"></i>
			 </div>
			 <p class="footer__text">&copy; By Chima Onumaegbu. All rights reserved</p>
		</footer>
    </div>

    <script src="{{url_for('static', filename='js/app.js')}}"></script>
	<script type="text/javascript" src="{{url_for('static', filename='js/bootstrap.bundle.min.js')}}"></script>
</body>
</html>