<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.css')}}">
    <link rel="stylesheet" hef="{{url_for('static', filename='css/icon-font.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='icons/css/all.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <title>All Users</title>
</head>
<body style="background-color: #eee;">
    <div class="container-fluid">
        <div class="row" style="margin-bottom: 2rem;">
            <nav class="nav">
                <label for="Logo" class="Logo"><a href="#"><img src="{{url_for('static', filename='image/techstack.png')}}" alt="Logo" class="img-fluid logo-brand"></a>Techstack</label>
                <input type="checkbox" id="check">
                <label for="check" class="checkbtn">
                    Menu <i class="fas fa-bars"></i>
                </label>
                <ul class="nav-link">
                    <li class="nav-link-item"><a href="{{url_for('admin_home')}}">Back to Dashboard</a></li>
                    <li class="nav-link-item"><a href="{{url_for('admin_logout')}}">Log Out</a></li>
                </ul>
           </nav>
        </div>

       
        <div class="table-responsive" style="margin-top: 7rem;">
            {% set msg=get_flashed_messages() %}
                {% if msg %}
                <div class="alert alert-info alert-dismissible fade show" role="alert">
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    <p style="font-size: 2.2rem; font-weight: 900;" class="text-center">{{msg[0]}}</p>
                </div>
                {% endif %}
                <h1 class="product__heading">{{users|count}} Total Users</h1>
            <table class="table table-striped" width="80%" style="font-size: 2.2rem; font-weight: 900;">
            <tr>
                <th>#</th>
                <th>Username</th>
                <th>Fullname</th>
                <th>Phone</th>
                <th>Reg Date</th>
                <th>Action</th>
            </tr>
            {% for i in users %}
            <tr>
                <td>{{loop.index}}</td>
                <td>{{i.user_username}}</td>
                <td>{{i.user_fname}} {{i.user_lname}}</td>
                <td>{{i.user_phone}}</td>
                <td>{{i.user_reg}}</td>
                <td><a href="/admin/deleteuser/{{i.user_id}}" class="btn btn-danger" style="font-size: 2rem; font-weight: 900;">Remove User</a></td>
            </tr>
            {%endfor%}
            </table>
        </div>
         <footer class="footer">
            <div class="footer__img-box">
                <img src="{{url_for('static', filename='image/techstack.png')}}" alt="Logo" class="footer__img">
            </div>
            <div class="links">
                 <div class="footer__link-box">
                     <h3 class="footer__heading">ABOUT US</h3>
                     <ul class="footer__nav">
                         <li class="footer__link"><a class ="link" href="#">About Us</a></li>
                         <li class="footer__link"><a class ="link" href="#">Terms and Conditions</a></li>
                         <li class="footer__link"><a class ="link" href="#">Privacy and Cookie notice</a></li>
                 
                     </ul>
                 </div>
                 <div class="footer__link-box">
                     <h3 class="footer__heading">LET US HELP YOU</h3>
                     <ul class="footer__nav">
                         <li class="footer__link"><a class ="link" href="#">Report a product</a></li>
                         <li class="footer__link"><a class ="link" href="#">Report a vendor</a></li>
                         <li class="footer__link"><a class ="link" href="#">How to buy a product</a></li>
                       
                     </ul>
                 </div>
                 
            </div>
           
             <p class="footer__terms">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Qui mollitia amet aut est error, blanditiis nobis culpa quo reprehenderit tempora nihil! Natus praesentium ex impedit fuga ab excepturi fugit temporibus?</p>
             <h3>JOIN US ON</h3>
             <div class="icon-box">
                <i class="fab fa-facebook icon"></i>
                <i class="fab fa-twitter icon"></i>
                <i class="fab fa-youtube icon"></i>
             </div>
             <p class="footer__text">&copy; By Chima Onumaegbu. All rights reserved</p>
        </footer>
    </div>

    <script src="{{ url_for('static', filename='js/jquery.min.js')}}"></script>
	<script src="{{url_for('static', filename='js/app.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/bootstrap.bundle.min.js')}}"></script>
</body>
</html>