<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/icon-font.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='icons/css/all.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <title>Products</title>
</head>
<body>
    <div class="container-fluid">
        <div class="row" style="margin-bottom: 2rem;">
            <nav class="nav">
                <label for="Logo" class="Logo"><a href="#"><img src="{{url_for('static', filename='image/techstack.png')}}" alt="Logo" class="img-fluid logo-brand"></a>Techstack</label>
                <input type="checkbox" id="check">
                <label for="check" class="checkbtn">
                    <i class="fas fa-bars"></i>
                </label>
                <!---->
				<li class="nav-link-item" id="cart-icon"><a href="{{url_for('view_cart')}}">
					<div class="user-nav__icon-box"> 
						<i class="fas fa-cart-plus icon"></i>
						<span class="user-nav__notification" id="c">{{ cart_len }}</span>
					</div>
				</a></li>
                {% if session.get('loggedin') != None %}
				<a href="{{url_for('userhome')}}" style="color: white; text-decoration: none;" id="user">
					{% if userdeets.user_img %}
					<img src="/static/image/users/{{userdeets.user_img}}" alt="User photo" class="user-nav__user-photo">
					<span class="user-nav__user-name">{{userdeets.user_username}}</span>
					{% else %}
					
					<span class="user-nav__user-name"><i class="fas fa-user-alt search__icon me-3"></i>{{userdeets.user_username}}</span>
					{% endif %}
				 </a>
				{% else %}
				<li class="nav-link-item" id="sign"><a href="{{url_for('userlogin')}}">Sign In</a></li>
				{%endif%}

                <ul class="nav-link">
                    <li class="nav-link-item"><a href="{{url_for('home')}}">Home</a></li>
                    <li class="nav-link-item"><a href="{{url_for('buy')}}">Buy Now</a></li>
                    <li class="nav-link-item"><a href="{{url_for('hire')}}">Hire Now</a></li>
                    <li class="nav-link-item"><a href="{{ url_for('view_allcategory') }}">Categories</a></li>
                    {% if session.get('loggedin') != None %}
                    <li class="nav-link-item"><a href="{{url_for('logout') }}">Logout</a></li>
					{%endif%}
                </ul>
                <!---->
                <input type="checkbox" id="check2">
                <label class="nav-search" for="check2"><i class="fas fa-search nav-icon"></i></label>
                <!---->
                <div class="nav-end" id="links2">
                    <form class="search__box" action="/user/search" method="post">
                        <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
                        <input class="me-2 search" type="search" placeholder="Search" aria-label="Search">
                        <button class="search__btn" type="submit"><i class="fas fa-search search__icon"></i></button>
                    </form>
                     <div class="user-nav__user">
                        <a href="{{url_for('view_cart')}}">
                        <div class="user-nav__icon-box"> 
                            <i class="fas fa-cart-plus icon"></i>
                            <span class="user-nav__notification" id="c">{{cart_len}}</span>
                        </div>
                        </a>

                        {% if session.get('loggedin') != None %}
                        <a href="{{url_for('userhome')}}" style="color: white; text-decoration: none;">
							{% if userdeets.user_img %}
                            <img src="/static/image/users/{{userdeets.user_img}}" alt="User photo" class="user-nav__user-photo">
                            <span class="user-nav__user-name">{{userdeets.user_username}}</span>
                            {% else %}
                            
                            <span class="user-nav__user-name"><i class="fas fa-user-alt search__icon me-3"></i>{{userdeets.user_username}}</span>
                            {% endif %}
                         </a>
						 {% else %}
						 <li class="nav-link-item" id="log"><a href="{{url_for('userlogin')}}">Sign In</a></li>
                    	 <li class="nav-link-item" id="log"><a href="{{url_for('register')}}">Sign Up</a></li>
						 {% endif %}
                    </div>
                </div>
           </nav>
		</div>
        <!-- End of nav-->
        <!-- Product desc -->
        <div class="row product">
            <div class="col-md-4 product__img">
               <img src="/static/image/products/{{product.product_img}}" alt="airpods" class="img-fluid">
            </div>
            <div class="col-md-6 product__details">
                {% set msg=get_flashed_messages() %}
                {% if msg %}
                <div class="alert alert-info alert-dismissible fade show" role="alert">
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    <p style="font-size: 2.2rem; font-weight: 900;" class="text-center">{{msg[0]}}</p>
                </div>
                {% endif %}
                
               <h1 class="heading" style="margin-bottom: -3rem; margin-top: -3rem;">{{product.product_name}}</h1>
               <p class="product__description" style="margin-bottom: -3rem; text-align: center;">{{product.product_desc}}</p>
               {% if product.product_type == 'Sale' %}
			   <h1 class="heading" style="margin-bottom: -3rem;">Price</h1>
               <p class="text-center card__price">{{product.product_price}}</p>
				{% else %}
				<h1 class="heading" style="margin-bottom: -3rem;">Hire Period</h1>
                <p class="text-center">{{product.hire_period}} days</p>
				{% endif %}
                    {% if product.adminobj %}
                    <p class="text-center">Posted By: {{product.adminobj.admin_name}}</p>
                    {%else%}
                    <p class="text-center">Posted By: {{product.userobj.user_username}}</p>
                    {% endif %}
                    {% if product.product_type == 'Sale' %}
                   <button class="btn btn-orange mt-3" id="cart">
                    <input type="hidden" name="cartId" id="cartId" value="{{product.product_id}}">
                        Add to Cart
                   </button>
                   {% else %}
                   <a href="/user/hire/{{product.product_id}}" class="btn btn-orange mt-3">Request for Hire</a>
                   {% endif %}
            </div> 
        </div>
        <!--end of product desc -->

        <!--Other product -->
        <div class="row product-bg">
            <h1 class="product__heading">Customers also viewed this</h1>
            <div class="col-12">
                <!--First row -->
                <div class="rowC product">
                    {% for i in all_products %}
                    {% if i.product_status != 'Sold' %}
                    <div class="col-1-of-4">
                        <!-- Card Container -->
                        <div class="cardC">
                            <div class="img__box">
                                <img src="/static/image/products/{{i.product_img}}" alt="Product" class="card__img img-fluid">
                                <span class="card__type">For {{i.product_type}}</span>
                            </div>
                            
                            <div class="card__details">
                                <h3 class="card__heading">Name</h3>
                                <p class="card__name">{{i.product_name}}</p>
                                {% if i.product_type == 'Sale' %}
                                <h3 class="card__heading">Price</h3>
                                <p class="card__price">{{i.product_price}}</p>
                                {% else %}
                                <h3 class="card__heading">Hire Period</h3>
                                <p style="font-size: 2rem; font-weight: 900;">{{i.hire_period}} days</p>
                                {% endif %}
                                <a href="/product/{{i.product_id}}" class="card__btn">View item</a>
                                {% if i.product_type == 'Sale'%}
								<button class="card__btn" id="cart">
                                    <input type="hidden" name="cartId" id="cartId" value="{{i.product_id}}">
                                    Add to Cart
                                </button>
								{% endif %}
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                   
                    <!---->
                </div>	
            </div>    
        </div>
        <!--End of other -->
        <footer class="footer">
			<div class="footer__img-box">
				<img src="{{url_for('static', filename='image/techstack.png')}}" alt="Logo" class="footer__img">
			</div>
			<div class="links">
				 <div class="footer__link-box">
					 <h3 class="footer__heading">ABOUT US</h3>
					 <ul class="footer__nav">
						 <li class="footer__link"><a class ="link" href="#">About Us</a></li>
						 <li class="footer__link"><a class ="link" href="#">Terms and Conditions</a></li>
						 <li class="footer__link"><a class ="link" href="#">Privacy and Cookie notice</a></li>
				 
					 </ul>
				 </div>
				 <div class="footer__link-box">
					 <h3 class="footer__heading">LET US HELP YOU</h3>
					 <ul class="footer__nav">
						 <li class="footer__link"><a class ="link" href="#">Report a product</a></li>
						 <li class="footer__link"><a class ="link" href="#">Report a vendor</a></li>
						 <li class="footer__link"><a class ="link" href="#">How to buy a product</a></li>
					   
					 </ul>
				 </div>
				 
			</div>
		   
			 <p class="footer__terms">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Qui mollitia amet aut est error, blanditiis nobis culpa quo reprehenderit tempora nihil! Natus praesentium ex impedit fuga ab excepturi fugit temporibus?</p>
			 <h3>JOIN US ON</h3>
			 <div class="icon-box">
				 <i class="fab fa-facebook icon"></i>
				 <i class="fab fa-twitter icon"></i>
				 <i class="fab fa-youtube icon"></i>
			 </div>
			 <p class="footer__text">&copy; By Chima Onumaegbu. All rights reserved</p>
		</footer>
    </div>

    <script src="{{ url_for('static', filename='js/jquery.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/app.js')}}"></script>
    <script src="{{url_for('static', filename='js/bootstrap.bundle.min.js')}}"></script>
</body>
</html>