<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/icon-font.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='icons/css/all.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <title>Payment Failed</title>
    <style type="text/css">
        .feature-box2 {
            background-color: rgba(255,255,255, .8);
            font-size: 2rem;
            font-weight: 600;
            padding: 2.5rem;
            text-align: center;
            border-radius: 3px;
            box-shadow: 0 1.5rem 4rem rgba(0,0,0, .15);
            transition: transform .3s;
        }
    </style>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="feature-box2">
                <!-- <i class="far fa-smile-beam "></i> -->
                <i class="far fa-meh feature-box__icon"></i>
                <h3 class="feature-box__heading">Sorry, try again later</h3>
                <p class="feature-box__text">
                    No response was gotten from the checkout page.
                    Go back to the home page.
                </p>
                <a href="{{url_for('home')}}" class="more">Continue Shopping</a>
            </div>
        </div>
    </div>
</body>
</html>