<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/icon-font.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='icons/css/all.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <title>Your bids</title>
</head>
<body style="background-color: #eee;">
    <div class="container-fluid">
        <div class="row" style="margin-bottom: 2rem;">
            <nav class="nav">
                <label for="Logo" class="Logo"><a href="#"><img src="{{url_for('static', filename='image/techstack.png')}}" alt="Logo" class="img-fluid logo-brand"></a>Techstack</label>
                <input type="checkbox" id="check">
                <label for="check" class="checkbtn">
                    <i class="fas fa-bars"></i>
                </label>
                <!---->
				<li class="nav-link-item" id="cart-icon"><a href="{{url_for('view_cart')}}">
					<div class="user-nav__icon-box"> 
						<i class="fas fa-cart-plus icon"></i>
						<span class="user-nav__notification" id="c">{{ cart_len }}</span>
					</div>
				</a></li>
                {% if session.get('loggedin') != None %}
				<a href="{{url_for('userhome')}}" style="color: white; text-decoration: none;" id="user">
					{% if userdeets.user_img %}
					<img src="/static/image/users/{{userdeets.user_img}}" alt="User photo" class="user-nav__user-photo">
					<span class="user-nav__user-name">{{userdeets.user_username}}</span>
					{% else %}
					
					<span class="user-nav__user-name"><i class="fas fa-user-alt search__icon me-3"></i>{{userdeets.user_username}}</span>
					{% endif %}
				 </a>
				{% else %}
				<li class="nav-link-item" id="sign"><a href="{{url_for('userlogin')}}">Sign In</a></li>
				{%endif%}
                
                <ul class="nav-link">
                    <li class="nav-link-item"><a href="{{url_for('userhome')}}">Dashboard</a></li>
                    <li class="nav-link-item"><a href="{{url_for('buy')}}">Buy Now</a></li>
                    <li class="nav-link-item"><a href="{{url_for('hire')}}">Hire Now</a></li>
                    <li class="nav-link-item"><a href="{{ url_for('view_allcategory') }}">Categories</a></li>
                    <li class="nav-link-item"><a href="{{url_for('logout') }}">Logout</a></li>
                </ul>
                <!---->
                <input type="checkbox" id="check2">
                <label class="nav-search" for="check2"><i class="fas fa-search nav-icon"></i></label>
                <!---->
                <div class="nav-end" id="links2">
                    <form class="search__box" action="/user/search" method="post">
                        <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
                        <input class="me-2 search" type="search" placeholder="Search" aria-label="Search">
                        <button class="search__btn" type="submit"><i class="fas fa-search search__icon"></i></button>
                    </form>
                     <div class="user-nav__user">
                        <a href="{{url_for('userhome')}}" style="color: white; text-decoration: none;">
                            {% if userdeets.user_img %}
                            <img src="/static/image/users/{{userdeets.user_img}}" alt="User photo" class="user-nav__user-photo">
                            <span class="user-nav__user-name">{{userdeets.user_username}}</span>
                            {% else %}
                            <span class="user-nav__user-name"><i class="fas fa-user-alt search__icon me-3"></i>{{userdeets.user_username}}</span>
                            {% endif %}
                         </a>
                    </div>
                </div>
           </nav>
        </div>

        <!-- User bids section -->
        <div class="row" style="margin-top: 6rem;">
            <div class="col">
                
                <h1 class="product__heading">Your Orders</h1>
                {% if allorders %}
                {% for order in allorders %}
                {% for pay in order.pay_deets %}
                {% if pay.pay_status == "paid" %}
                <div class="mb-5 pb-2" style="font-size: 2.2rem; font-weight: 900; text-align: center; background-color: #fff; border-bottom: 1px solid black; border-top: 1px solid black;">
                    <p><span style="margin-left: 2rem;">Ordered By You</span></p>
                    <p>
                        <span>Date: {{order.order_date}}</span>
                        <span>Status: {{order.order_status}}</span>
                    </p>
                    
                    {% if order.order_status == 'Processing' %}
                    <a href="/user/order/{{order.order_id}}">View More Details</a>
                    <a href="/user/rejectorder/{{order.order_id}}" class="bid-btn btn-danger">Cancel Order</a>
                    {%else%}
                    <a href="/user/order/{{order.order_id}}">View More Details</a>
                    {%endif%}
                </div>
                {%endif%}
                {%endfor%}
                {%endfor%}
                {%else%}
                <p class="text-center" style="font-size: 2.5rem; font-weight: 900;">You haven't placed an order yet</p>
                {%endif%}

                <!---->
                <h1 class="product__heading">Placed Orders On Your Products</h1>
                
                {% if u_products %}
                
                {% for i in u_products %}
                {% if i.orders %}
                <div class="#" style="font-size: 2.2rem; font-weight: 900; text-align: center; background-color: #fff; border-bottom: 1px solid black;">
                    {% for y in i.orders %}
                    <p style="border-top: 1px solid black;">Product Name: {{y.prodobj.product_name}}</p>
                    <p>Shipping Address: {{y.orderobj.order_address}}</p>
                    <p>Ordered by {{y.orderobj.userobj.user_username}}</p>
                    <p>
                        <span>   
                            Date: {{y.orderobj.order_date}}
                        </span>&nbsp; &nbsp; 
                        <span>Status: {{y.orderobj.order_status}}</span>
                    </p>
                    {% if y.orderobj.order_status == 'Processing' %}
                    <a href="/user/confirmorder/{{y.orderobj.order_id}}" class="bid-btn btn-success">Confirm Order</a>
                    <a href="/user/rejectorder/{{y.orderobj.order_id}}" class="bid-btn btn-danger">Cancel Order</a>
                    {%else%}
                    <a href="/user/order/{{y.orderobj.order_id}}">View More Details</a>
                    {%endif%}
                    {% endfor %}
                </div>
                {%endif%}
                {% endfor %}
                {%else%}
                <p class="text-center" style="font-size: 2.5rem; font-weight: 900;">No Placed Orders on your products yet</p>
                {%endif%}
                

                
            </div>
        </div>

        <!-- Received bids -->
        <div class="row" style="margin-top: 6rem;">
            <div class="col">

                <h1 class="product__heading">Your Hire Orders</h1>
                {% if hire_orders %}
                {% for x in hire_orders %}
                <div class="bid-container">
                    
                    <div class="bid-image-container" style="padding-top: 2rem;">
                        <img src="/static/image/products/{{x.dproduct.product_img}}" id="bid" alt="airpods" class="img-fluid bid-image d-block mx-auto">
                        <p>{{x.dproduct.product_name}} 
                            {% if x.dproduct.userobj == None %}
                            <span>Posted by {{x.dproduct.adminobj.admin_name}}</span>
                            {% else %}
                            <span>Posted by {{x.dproduct.userobj.user_username}}</span>
                            {%endif%}
                        </p>
                    </div>
                    <div class="bid-details">
                      
                        {% if x.hireorder_status == 'Accepted' %} 
                        {% for i in x.return_obj %} 
                        {% if i.r_status == 'Hired' %}
                                      
                        You are expected to return this item on or before this date  &nbsp;{{i.due_date}}
                       
                        {%else%}
                        This item has been returned by you.

                        {%endif%}
                        {%endfor%}
                        {%else%}
                        You requested to hire this product
                        {%endif%}
                    </div>
                    <div class="bid-btn-container">
                        {% if x.hireorder_status == 'Accepted' %}
                        <button class="bid-btn btn-success" style="font-weight: 900;">{{x.hireorder_status}}</button>
                        {%else%}
                        <button class="bid-btn btn-warning" style="font-weight: 900;">{{x.hireorder_status}}</button>
                        {%endif%}
                    </div>
                </div>
                {%endfor%}
                {%else%}
                <p class="text-center" style="font-size: 2.5rem; font-weight: 900;">You haven't placed a hire order yet.</p>
                {%endif%}
 

                <!--Hire -->
                <div class="col text-center">
                    <h1 class="product__heading">Hire Orders On Your Products</h1>
                    {% if hireorder %}
                    {% for hire in hireorder %}
                    {% for i in hire %}
                    <div style="font-size: 2.3rem; font-weight: 900; border-bottom: 1px solid black; background-color: #fff;" class="mb-3">
                        <div class="bid-image-container pt-4">
                            <img src="/static/image/products/{{i.dproduct.product_img}}" alt="airpods" id="bid" class="img-fluid bid-image d-block mx-auto">
                            <p>{{i.dproduct.product_name}} <span>Posted by You</span></p>
                        </div>
                        {% if i.hireorder_status == 'Pending' %}
                        <div class="bid-details">
                            {{i.duser.user_username}} requested to hire this product
                            <a href="/user/confirmhire/{{i.hireorder_id}}" class="bid-btn btn-danger">Confirm Order</a>
                            <a href="/user/rejecthire/{{i.hireorder_id}}" class="bid-btn btn-success">Reject Order</a>       
                        </div>
                        {% elif i.hireorder_status == 'Accepted' %}
                            {% for x in i.return_obj %}
                            {% if x.r_status == 'Hired' %}
                            <div class="bid-details">
                                You accepted {{i.duser.user_username}} request to hire this product to be returned on {{x.due_date}}
                            </div>
                            <div class="bid-btn-container">
                                <a href="/user/confirmreturn/{{i.hireorder_id}}" class="bid-btn btn-warning mb-4">Confirm Return</a>
                            </div>
                            {%else%}
                            <div class="bid-details">
                                This Item was returned by{{i.duser.user_username}} on {{x.return_date}}
                            </div>
                            {%endif%}
                            {%endfor%}
                        {% else %}
                            <div class="bid-details">
                                You rejected {{i.duser.user_username}} request to hire this product.
                            </div>
                        {%endif%}
                        {%endfor%}
                    </div>
                    {%endfor%}
                    {%else%}
                    <p class="text-center" style="font-size: 2.5rem; font-weight: 900;">No Hire Orders on your products</p>
                    {%endif%}
                   
                </div>

               {# <h1 class="product__heading">Orders On Your Posted Products</h1>
                {% for i in u_products %}
                <div style="font-size: 2rem; font-weight: 900;">
                    <div class="bid-image-container">
                        <img src="/static/image/products/{{i.product_img}}" alt="airpods" class="img-fluid bid-image">
                        <p>{{i.product_name}} <span>Posted by {{userdeets.user_username}}</span></p>
                    </div>
                    <div class="bid-details">
                        {% for m in i.orders %}
                       
                        <p>Ordered by {{m.orderobj.userobj.user_username}}</p>
                        <a href="#" class="bid-btn btn-danger">Confirm Order</a>
                        <a href="#" class="bid-btn btn-success">Reject Order</a>
                        {%endfor%}
                    </div>
                    <!-- <div class="bid-btn-container">
                        <a href="#" class="bid-btn btn-danger">Accept</a>
                        <a href="#" class="bid-btn btn-success">Reject</a>
                    </div> -->
                </div>
                {%endfor%} #}
               
            </div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/jquery.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/app.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/bootstrap.bundle.min.js')}}"></script>
</body>
</html>